
@{
    ViewBag.Title = "ConfirmMessage";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<h2>We have received your transaction information.<br />
    After the review we will confirm about the<br />
    transaction within an hour.
    </h2>

